{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": ["off"],

    "class-methods-use-this": ["off"],
    "consistent-return": ["off"],
    "no-mixed-operators": ["error", {"allowSamePrecedence": true}],
    "no-param-reassign": ["warn"],
    "prefer-rest-params": ["off"]
  },
  "settings": {
    "import/resolver": "node",
    "import/extensions": ["", ".js"]
  }
}

